/* @import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url('https://fonts.googleapis.com/css2?family=Roboto:300,400,600'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins",sans-serif; */
  text-decoration: none;
}

:root {
  --body-color: rgba(250, 250, 250);
  --color-white: rgba(250, 250, 250);
  --text-color-second: rgba(38, 37, 37);
  --first-color: rgb(0, 255, 255);
  --first-shadow: rgba(0, 0, 0, 0.1);

  --box-color: #fff;
  --nav-color: #fff;
  --nav-icon: #000;
  --logo-color: #000;

  --text-color: #444444;
  --color-white: #ccc;

  --icon-color: #242526;
  --mode-color: #ccc;
}
body {
  background: var(--body-color);
}

body.dark {
  --body-color: #202425;
  --box-color: #fff;

  --nav-color: #262425;
  --color-white: #fff;
  --text-color: #fff;

  --nav-icon: #fff;
  --logo-color: #fff;
  --icon-color: #0a84fd;
  --mode-color: #fff;
}
.container {
  width: 100%;
  position: relative;
}
html {
  scroll-behavior: smooth;
}
/* logo */
.nav-name img{
border-radius: 50px;
margin-top: 10px;
margin-left: -6rem;
border: 2px solid aqua;
transition: 2s;
}
.nav-logo img:hover{
  box-shadow: 0 5px 8px 1px aqua;
}
/* navbar */
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  line-height: 100px;
  background: var(--nav-color);
  padding-inline: 10vw;
  transition: 0.3s;
  z-index: 100;
}
.nav-logo {
  position: relative;
}
.nav-name {
  font-size: 30px;
  font-weight: 600;
  color: var(--logo-color);
}
.nav-menu,
.nav_menu_list {
  display: flex;
  column-gap: -30px;
  font-size: 30px;
}
.nav-menu .nav_list {
  list-style: none;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  padding-inline: 15px;
  margin-inline: 20px;
}
.nav-menu-btn {
  display: none;
}
.nav-menu-btn {
  font-size: 28px;
  cursor: pointer;
  color: var(--nav-icon);
}
.active-link {
  position: relative;
  color: var(--first-color);
  transition: 0.5s;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 2px;
  background: var(--first-color);
}

/* mode */

.mode {
  display: flex;
  align-items: center;
  margin-right: -2%;
}

.moon-sun {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  cursor: pointer;
  background: var(--mode-color);
}

.moom-sun:is(#moon, #sun) {
  position: absolute;
  transition: 0.2s ease-in-out;
}

#sun {
  opacity: 0;
}
body.dark #sun {
  opacity: 1;
}
body.dark #moon {
  opacity: 0;
}

.wrapper {
  padding-inline: 10vw;
}

/* box */

.featured-box {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 700px;
}
/* featured-text */
.featured-text {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
  margin-top: 10%;
}
.featured-text .hello {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: -20px;
  color: var(--text-color);
}

.featured-name {
  font-size: 50px;
  font-weight: 600;
  margin-block: 20px;
  color: aqua;
  margin-bottom: 10px;
}

.typedText {
  font-family: sans-serif;
  color: rgb(0, 255, 255);
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
}

.text-info {
  font-size: 16px;
  margin-bottom: 30px;
  color: var(--text-color);
}

.text-btn {
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  gap: 20px;
}
.text-btn .btn {
  border: none;
  color: #232020;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}
.text-btn .btn:hover {
  color: rgb(19, 23, 23);
  background: #fff;
}
.btn {
  text-decoration: none;
  font-size: 15px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  background: aqua;
  font-weight: 500;
  transition: all 0.5s ease;
}
.btn i {
  margin-right: 10px;
}
i {
  font-size: 16px;
}

.socical_icons {
  display: flex;
  margin-top: 30px;
  margin-left: 5px;
  gap: 32px;
}

.socical_icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--icon-color);
  border-radius: 50%;
  box-shadow: 0px 1px 5px 3px aqua;
  cursor: pointer;
}
.icon_circle {
  position: absolute;
  transform: transform(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  animation: iconSlide 4s infinite alternate;
}
@keyframes iconSlide {
  25% {
    border: 2px solid red;
    left: 0px;
  }
  50% {
    border: 2px solid rgb(148, 219, 16);
    left: 70px;
  }
  75% {
    border: 2px solid rgb(14, 186, 212);
    left: 145px;
  }
  100% {
    border: 2px solid rgb(179, 0, 255);
    left: 216px;
  }
}
.socical_icons:hover .icon_circle {
  animation-play-state: paused;
  cursor: pointer;
}

.featured-image {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 80vh;
  width: 100%;
}
.image {
  margin-top: 30%;
  width: 500px;
  height: 700px;
  border-radius: 40% 40% 40% 40%;
  /* background: rebeccapurple; */
  /* overflow: hidden; */
  animation: imgFloat 5s ease-in-out infinite;
}
.image .img {
  width: 500px;
  height: 700px;
  object-fit: cover;
}
@keyframes imgFloat {
  50% {
    transform: translateY(50px);
  }
}

/* main */

.section {
  padding-block: 5em;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}
.col {
  display: flex;
  width: 50%;
}
.top-header {
  align-items: center;
  margin-left: 45%;
  margin-bottom: 5em;
}
.top-header h1 {
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 10px;
}

/* about-info */

.about-info {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 45px 45px;
  padding-inline: 35px;
  border: 2px solid aqua;
  background: transparent;
  box-shadow: 1px 8px 10px 10px var(--first-shadow);
  border-radius: 20px;
}

.about-me * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.about-info figcaption {
  width: 100%;
  padding: 25px;
  position: relative;
}
.about-me .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 20px;
  z-index: 1;
  background-color: #fff;
  max-width: 90px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.about-me h2 {
  color: var(--text-color);
}

.about-me p {
  margin-top: 10px;
  color: var(--text-color);
}
.about-info .about-me-btn {
  text-decoration: none;
  font-size: 15px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: aqua;
  border-radius: 10px;
  box-shadow: 1px 8px 10px 2px;
  color: #050404;
  margin-top: 20px;
  font-weight: 500;
  transition: all 0.5s ease;
}
.about-me-btn:hover {
  background: #fff;
}
/* slill */

.skill {
  position: relative;
  max-width: 600px;
  width: 100%;
  background: transparent;
  box-shadow: 1px 8px 10px 2px var(--first-shadow);
  padding: 10px 20px;
  border: 2px solid aqua;
  border-radius: 20px;
}
.skill .skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
}
.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.1);
}

.skill-box .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: aqua;
  animation: progress 3s ease-in-out forwards;
  opacity: 0;
}

.skill-per.html {
  animation-delay: 0.1s;
  width: 80%;
}
.skill-per.css {
  animation-delay: 0.1s;
  width: 75%;
}
.skill-per.bootstrup {
  animation-delay: 0.1s;
  width: 70%;
}
.skill-per.javascript {
  animation-delay: 0.1s;
  width: 40%;
}
.skill-per.react {
  animation-delay: 0.1s;
  width: 20%;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  color: #9b8f8f;
  padding: 2px 6px;
  border-radius: 20px;
  background: rgb(0, 255, 255);
  z-index: 1;
}

/* project-container */

.project-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}
.project-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 250px;
  background: transparent;
  border: 2px solid aqua;
  border-radius: 10px;
  box-shadow: 1px 8px 10px 2px var(--first-shadow);
  overflow: hidden;
  cursor: pointer;
}

.project-box i {
  font-size: 50px;
  color: aqua;
  margin-bottom: 25px;
}
.project-box label {
  font-size: 15px;
  color: var(--text-color);
}
.project-box h3 {
  font-size: 25px;
  color: var(--text-color);
}
.project-box::after,
.contact-info::after {
  content: "";
  position: absolute;
  bottom: -100%;
  background: aqua;
  height: 100%;
  width: 100%;
  transition: 0.4s;
  z-index: 0.1;
}
.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after {
  bottom: 0;
}

.project-box:hover.project-box i,
.project-box:hover.project-box > h3,
.project-box:hover.project-box > label {
  color: #1c1818;
  z-index: 2;
}
.top-header h1 > span {
  color: #9b8f8f;
}
.top-header h1 > span:hover {
  color: aquamarine;
}
.top-header span {
  color: var(--text-color);
}
.top-header h1 {
  font-size: 40px;
  transition-duration: 1s;
  /* background: hotpink; */
  margin-left: -7rem;
}
.top-header h1:hover {
  color: aqua;
}
.top-header h2 {
  font-size: 40px;
  transition-duration: 1s;
  margin-left: -3rem;
  
}
.top-header p{
  margin-left: -6.8rem;
}

/* contact-info */

.contact-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 20px 40px;
  width: 100%;
  height: 388px;
  /* border: 2px solid #fff; */
  border: 2px solid aqua;
  border-radius: 20px;
  box-shadow: 1px 8px 10px 2px var(--first-shadow);
  overflow: hidden;
  cursor: pointer;
}
.contact-info h2 {
  color: var(--text-color);
  margin-bottom: 20px;
}

.contact-info p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  margin-block: 5px;
}
.contact-info p a {
  color: var(--text-color);
}

.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i,
.contact-info:hover.contact-info a {
  color: #070505;
  z-index: 2;
}

/* contact form */
.contact {
  width: 600px;
  text-align: center;
}
form .input-box {
  display: flex;
  justify-content: space-between;
}
.input-box .input-field {
  width: 49.5%;
}
.field .item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid aqua;
  box-shadow: 1px 8px 10px 2px var(--first-shadow);
  overflow: hidden;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  color: var(--text-color);
  margin: 5px 0;
}
.field.error .item {
  border-color: #d93025;
}
.field .item::placeholder {
  color: rgba(255, 255, 255 0.3);
}
.field .error-text {
  font-size: 14.5px;
  color: #d93025;
  text-align: left;
  margin: -5px 0 10px;
  display: none;
}
.field.error .error-text {
  display: block;
}

form .textarea-field .item {
  resize: none;
}
form .textarea-field .error-text {
  margin-top: -10px;
}
button i{
    font-size: 18px;
    rotate: -45deg;
    margin-left: 10px;
}
form button {
  padding: 12px 32px;
  background: aqua;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px aqua;
  font-size: 16px;
  color: var(--text-color);
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: 1s;
}
button:hover {
  color: #000;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px rgb(194, 196, 196);
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  row-gap: 30px;
  background: rgb(19, 28, 28);
  border-radius: 10% 10% 0 0;
  padding-block: 40px 15px;
}


 .button{
  display:inline-block;
  height: 60px;
  width: 60px;
  float: left;
  /* margin: 0 5px; */
  margin: 0 20px;
  overflow: hidden;
  background:#fff;
  border-radius: 50px;
cursor: pointer;
box-shadow: 0 10px 10px rgba(0,0,0,0.1);
transition: all 0.3s ease-out;
}
.button:hover{
  width: 200px;
}
.button .btno{
display: inline-block;
height: 60px;
width: 60px;
text-align: center;
/* margin-left: 22px; */
border-radius: 50%;
box-sizing: border-box;
line-height: 60px;
}
.button:nth-child(1):hover .btno {
  background:rgb(148, 87, 170) ;
}
.button:nth-child(2):hover .btno {
  background:#8459 ;
}
.button:nth-child(3):hover .btno {
  background:rgb(205, 160, 100) ;
}
.button:nth-child(4):hover .btno {
  background:rgb(154, 87, 79) ;
}
.button .btno i{
font-size: 30px;
line-height: 60px;
}
.button:hover .btno i{
  color: rgb(0, 0, 0);
}
span a{
  font-size: xx-large;
  text-decoration: none;
  margin-left: 15px;
}
.button .btno span {
  font-size: 200px;
  font-weight: 500;
  line-height: 60px;
  margin-left:10px ;
  transition: all 0.3s ease-out;
}
.button:nth-child(1) span a{
  color: rgb(106, 94, 177) ;
}
.button:nth-child(2) span a{
 color: #8459 ;
}
.button:nth-child(3) span  a{
  color:rgb(205, 160, 100) ;
}
.button:nth-child(4) span a{
 color:rgb(154, 87, 79);
}

#icons{
  display: inline-flex;
}
#icons .icon{
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
#icons .icon span{
  position: relative;
  height: 50px;
  width: 50px;
  display: block;
  background: #fff;
  text-align: center;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
#icons .icon span i{
  line-height: 50px;
  font-size: 20px;
}
#icons .icon:hover span i{
  color: #fff;
}
#icons .icon .tooltip{
  position: absolute;
  top: 0px;
  background: #fff;
  padding: 10px 18px;
  font-size: 20px;
  color: #fff;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1); 
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

#icons .icon:hover .tooltip{
top: -60px;
opacity: 1;
pointer-events: auto;
}
#icons .icon .tooltip::before{
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  background:#ffffff;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%)rotate(45deg);
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
#icons .icon:hover span,
#icons .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4) ;
}
#icons .facebook:hover span,
#icons .facebook:hover .tooltip,
#icons .facebook:hover .tooltip::before{
  background: #3b5999;
}
#icons .instagram:hover span,
#icons .instagram:hover .tooltip,
#icons .instagram:hover .tooltip::before{
  background: #e1306c;
}
#icons .github:hover span,
#icons .github:hover .tooltip,
#icons .github:hover .tooltip::before{
  background: #344;
}
#icons .twitter:hover span,
#icons .twitter:hover .tooltip,
#icons .twitter:hover .tooltip::before{
  background: #46C1F6;
}

.bottom-footer{
  text-decoration: none;
  color: #fff;
}
.bottom-footer a{
  color: #fff;
}
.tooltip {
  color: black;
}

/* media query = 1024 */

@media only screen and (max-width: 1024px) {
  .featured-text {
    padding: 0;
  }
  .image,
  .image img {
    width: 320px;
    height: 320px;
  }
  .image img {
    width: 360px;
    height:480px;

  }
  .nav_list a{
    font-size: 20px;
  }
}

/* media query = 900px */

@media only screen and (max-width: 900px) {
  .nav-menu-btn {
    display: none;
  }
  .nav-menu.responsive {
    left: 0;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(250, 250, 250, 0.7);
    backdrop-filter: blur(5px);
    width: 300px;
    border-radius: 0px 30px 0px 30px;
    min-height: 450px;
    height: 100vh;
    transition: 0.3s;
  }
  .nav_menu_list {
    flex-direction: column;
  }
  .nav-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .featured-box {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  .featured-text {
    width: 100%;
    order: 2;
    justify-content: center;
    align-items: flex-start;
    min-height: 60vh;
  }
  .socical_icons {
    margin-top: 2em;
  }
  .featured-image {
    order: 1;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    margin-top: 65px;
  }
  .image,
  .image img {
    width: 150px;
    height: 150px;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .col {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-info,
  .contact-info {
    width: 100%;
  }
  .project-container {
    justify-content: center;
  }
  .project-box {
    width: 80%;
  }
  .mode {
    display: flex;
    align-items: center;
    margin-left: 60%;
  }
  .image img {
    width: 150px;
    height: 200px;

  }
  .nav-name img{
    margin-left: -2rem;
    }
 
}

@media only screen and (max-width: 540px) {
  .featured-name {
    font-size: 40px;
  }
  .project-box {
    width: 100%;
  }
  .form-inputs {
    flex-direction: column;
  }
  .input-field {
    width: 100%;
  }
  .mode {
    margin-left: 50%;
  }
  .contact {
    width: 350px;
  }
  button {
    padding:2px 4px;
    width: 35%;
    font-size: 10px;
    margin-top: 10px;
  }
  .footer_menu_list a {
    font-size: 20px;
    
  }
  #icons .icon span{
    height: 30px;
    width: 30px;
  }
  #icons .icon span i{
    line-height: 30px;
    font-size: 10px;
  }
  #icons .icon .tooltip{
    font-size: 10px;
  }
  #icons .icon .tooltip::before{
    
    height: 17px;
    width: 17px;
    
  }
  #icons .icon:hover .tooltip{
    top: -40px;
    }
    .button{
      height: 40px;
      width: 40px;
      float: left;
      margin: 0 20px;
      overflow: hidden;
      background:#fff;
      border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    }
    .button:hover{
      width: 100px;
    }
    .button .btno{
    height: 40px;
    width: 40px;
    line-height: 30px;
    }
    .button .btno i{
      font-size: 15px;
      line-height: 40px;
      }
      .button:hover .btno i{
        color: rgb(0, 0, 0);
      }
      span a{
        font-size: small;
        text-decoration: none;
       
      }
      .button .btno span {
        font-size: 200px;
        font-weight: 500;
        line-height: 60px;
        margin-left:10px ;
        transition: all 0.3s ease-out;
      }
      .image img {
        width: 160px;
        height: 200px;

      }
      .image {
        animation: none ;
      }
      .bottom-footer{
        font-size: 10px;
      }
      .nav-name img{
        margin-left: -2rem;
        }
        span a{
          margin-left:5px;
        }
}
